@media (min-width: 2503px) and (max-width: 2560px) {
  .owl-carousel .carousel-item .slide__info__block .info__title__text {
    font-size: 28px !important;
  }
}
@media (min-width: 2000px) and (max-width: 2560px) {
  header {
    height: 100px;
  }
  header .header__content {
    font-size: 40px;
  }
  header .header__content .header__menu button {
    height: 60px;
    font-size: 40px;
  }
  #solutions .solutions__title__text {
    font-size: 60px;
  }
  #solutions .owl-carousel .carousel-item .slide__marker__img {
    width: 90px;
    height: 90px;
    font-size: 18px;
    font-weight: 400;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block {
    font-size: 24px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__title__text {
    font-size: 26px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__button__wrapper .info__button {
    font-size: 30px;
    height: 40px;
  }
  #instruction .instruction__block__description .description__desc__block .description__title__text {
    font-size: 60px;
  }
  #instruction .instruction__block__description .description__desc__block .descrtiption__desc__text {
    font-size: 35px;
  }
  #instruction .instruction__cards__wrapper .cards__title__text {
    font-size: 70px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block .card__text__caps {
    font-size: 30px;
  }
  #instruction .instruction__cards__wrapper .instruction__consult__button {
    font-size: 40px;
  }
  #instruction .instruction__cards__wrapper .crystall-right {
    height: auto;
    width: auto;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    width: 300px;
    height: 300px;
    bottom: -120px;
  }
  #tariffs .tariffs__text__title {
    font-size: 70px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    width: 420px;
    height: 650px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__title {
    font-size: 30px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__price {
    font-size: 70px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__desc {
    width: auto;
    height: 120px;
    font-size: 26px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper .tariff__tag__item {
    font-size: 24px;
  }
  footer .footer__content .footer__logo {
    font-size: 42px;
  }
  footer .footer__content .footer__button__consult {
    font-size: 40px;
  }
  footer .footer__content a {
    font-size: 36px;
  }
}
@media (max-width: 2000px) {
  #solutions .carousel-item {
    height: auto;
  }
}
@media (max-width: 1350px) {
  #solutions .solutions__title__text {
    font-size: 36px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block {
    width: 120px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block .card__text__caps {
    font-size: 18px;
  }
}
@media (max-width: 1270px) {
  .header__content {
    font-size: 24px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block {
    width: 40%;
    padding: 20px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block:not(:nth-child(1), :nth-child(2)) {
    margin-top: 20px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block:nth-child(5) {
    text-align: center;
    width: 85%;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block .card__digit__number {
    display: none;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    left: -80px;
  }
  #tariffs {
    margin-bottom: 50px;
  }
  #tariffs .tariffs__grid__wrapper {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  #tariffs .tariffs__grid__wrapper .tariffs__img__wrapper {
    width: 100%;
  }
  #about .about__grid__tags .grid__img__wrapper img {
    width: 80%;
  }
  #questions {
    margin-bottom: 50px;
  }
  .footer__content {
    font-size: 24px;
  }
  .footer__content button {
    padding: 0 5px;
    font-size: 24px;
  }
}
@media (max-width: 961px) {
  header {
    height: 100px;
  }
  header .header__content {
    flex-direction: column;
  }
  header .header__content .header__menu {
    justify-content: center;
  }
  #solutions .owl-carousel {
    margin-bottom: 51px;
  }
  #solutions .owl-carousel .owl-item .info__title__text {
    white-space: nowrap;
    font-size: 17px;
  }
  #instruction .instruction__block__description .description__desc__block .description__title__text {
    margin-bottom: 30px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper {
    margin-bottom: 120px;
  }
  #instruction .instruction__cards__wrapper .instruction__consult__button {
    margin-top: 20px;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    left: -120px;
  }
  #instruction .instruction__cards__wrapper .crystall-right {
    right: -50px;
  }
  #instruction .instruction__img__wrapper {
    width: 330px;
    position: absolute;
    top: 40px;
    right: -120px;
  }
  #tariffs {
    margin: 0 23px;
    margin-bottom: 40px;
  }
  #tariffs .tariffs__text__title {
    font-size: 30px;
    margin-bottom: 21px;
  }
  #tariffs .tariffs__grid__wrapper {
    display: flex;
    flex-direction: column;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    width: 355px;
    height: 598px;
    margin-bottom: 18px !important;
    margin-left: 0 !important;
  }
  #about .about__grid__description {
    margin-bottom: 47px;
  }
  footer .footer__content {
    flex-direction: column;
  }
  footer .footer__content .footer__menu {
    margin-top: 15px;
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
  footer .footer__content .footer__menu a {
    margin-left: 33px;
  }
  footer .footer__content .footer__menu a:nth-child(1) {
    margin-left: 0;
  }
  footer .footer__content .footer__menu .footer__button__consult {
    height: 50px;
  }
}
@media (max-width: 779px) {
  .header__content {
    font-size: 16px;
  }
  .header__content button {
    font-size: 16px;
  }
  #solutions {
    padding: 52px 15px;
    padding-top: 120px;
  }
  #solutions .solutions__title__text {
    text-align: left;
  }
  #solutions .solutions__button__popup {
    padding: 14px 20px 15px 15px;
    line-height: 0;
    width: 260px;
    height: 30px;
    font-size: 15px;
  }
  #instruction {
    margin: 0 15px;
    margin-top: 47px;
    margin-bottom: 50px;
  }
  #instruction .instruction__block__description .instruction__img__wrapper {
    right: -15px;
  }
  #instruction .instruction__cards__wrapper .instruction__consult__button {
    padding: 14px 43px 20px 41px;
    font-size: 15px;
    line-height: 0;
    height: 30px;
    width: 235px;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    left: -45px;
  }
  #instruction .instruction__cards__wrapper .crystall-right {
    right: 20px;
  }
  #tariffs .tariffs__text__title {
    margin-bottom: 30px;
  }
  #about {
    padding: 0 15px;
    padding-top: 14px;
    padding-bottom: 26px;
  }
  #questions {
    margin: 53px 15px;
  }
  #questions .questions__text__title {
    text-align: left;
    margin-bottom: 30px;
  }
  #questions .aq__block__wrapper {
    vertical-align: middle;
    padding: 10px 30px;
    padding-left: 16px;
    color: white;
    background: #8647EA;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #questions hr {
    display: none;
  }
  footer {
    height: 30px;
    padding: 14px 23px 45px 15px;
  }
  footer .footer__content {
    font-size: 16px;
  }
  footer .footer__content button {
    font-size: 16px;
  }
}
@media (max-width: 629px) {
  #solutions {
    padding-top: 100px;
    padding-bottom: 36px;
  }
  #solutions .solutions__title__text {
    font-size: 26px;
    width: 330px;
    margin-bottom: 37px;
  }
  #solutions .owl-carousel {
    margin-bottom: 41px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block {
    font-size: 15px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__button__wrapper {
    margin-top: au;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__button__wrapper .info__button {
    height: 25px;
    width: 130px;
    font-size: 17px;
  }
  #instruction {
    margin-bottom: 141px;
  }
  #instruction .instruction__block__description .description__desc__block .description__title__text {
    max-width: 275px;
    font-size: 25px;
  }
  #instruction .instruction__block__description .description__desc__block .description__title__text .chut-ponizhe {
    line-height: 0px;
  }
  #instruction .instruction__block__description .description__desc__block .descrtiption__desc__text {
    font-size: 15px;
    max-width: 191px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper {
    margin-bottom: 200px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block {
    width: 100%;
    min-height: 35px;
    margin-left: 0;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block:not(:first-child) {
    margin-top: 10px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block:nth-child(5) {
    width: 100%;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    left: 155px;
    bottom: -180px;
  }
  #instruction .instruction__cards__wrapper .crystall-right {
    display: none;
  }
  #tariffs .tariffs__text__title {
    font-size: 25px;
    text-align: left;
    max-width: 337px;
    margin-top: 18px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    text-align: left;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__title {
    font-size: 18px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__price {
    font-size: 50px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__desc {
    font-size: 16px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff hr {
    width: 100%;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__img__wrapper img {
    width: 100%;
  }
  #about .about__text__title {
    font-size: 25px;
    padding: 0;
  }
  #about .about__grid__description {
    display: block;
    position: relative;
  }
  #about .about__grid__description .grid__description__wrapper .about__text__description {
    max-width: 500px;
    margin-top: 18px;
  }
  #about .about__grid__description .grid__img__wrapper {
    position: absolute;
    right: -15px;
    top: 110px;
    width: 200px;
  }
  #about .about__grid__description .grid__img__wrapper img {
    width: 100%;
  }
  #questions .questions__text__title {
    max-width: 282px;
    font-size: 25px;
  }
  #questions .aq__block__wrapper {
    font-size: 15px;
  }
  #questions .aq__block__wrapper .question__text__title {
    padding-bottom: 10px;
  }
  #questions .aq__block__wrapper .answer__text__title {
    margin: 0;
  }
  footer .footer__content .footer__menu .footer__button__consult {
    height: 30px;
  }
}