
@media (max-width: 1025px) {
    .header__content {
        a {
            font-size: 23px;
        }
    }
    footer {
        .footer__content {
            .footer__menu {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    #instruction {
        .description__button__consult {
            font-size: 27px;
        }
        .instruction__cards__flex {
            .cards__card__block {
        
                &:nth-child(5) {
                    margin-bottom: 35px;
                }
            }

            .cards__card__img {
                position: absolute;
                top: 650px;
                left: 45%;
                margin-left: 0;
            }
        }
    }

    #tariffs {
        .tariffs__img__wrapper {

        }
    }

    #about {
        .about__button__desc {
            width: 140%;
        }
    }
}

@media (max-width: 961px) {
    header, section, footer {
        margin: 0 10px;
    }
    
    button {
        padding: 20px 70px;
    }

    header {
        height: 60px;
        .header__content {
            position: relative;
            margin: 0;
            .header__logo {
                position: absolute;
                display: inline;
                left: 0;
                top: 16px;
                font-size: 18px;
            }
    
            .header__menu {
                margin-top: 40px;
                margin-bottom: 0;
                
                a {
                    font-size: 17px;
                    margin-left: 0;
                    flex: 1 1 auto;
                }
            }
        }

        button {
            display: none;
        }
    }

    #hello {
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        .hello__start__block {
            font-size: 30px;
            .start__button {
                height: 40px;
                width: 185px;
                margin-top: 49px;
                font-size: 17px;
                line-height: 0;
            }
        }
        .hello__img__wrapper {
            margin-left: auto;
            img {
                width: 720px;
            }
        }
    }

    #solutions {
        margin-bottom: 50px;
        .solutions__title__text {
            font-size: 30px;
        }
        .solutions__button__popup {
            display: none;
        }
        .solutions__slider__block {
            margin-bottom: 0;
        }
    }

    #instruction {
        display: block;
        margin-bottom: 50px;
        .instruction__block__description {
            .description__desc__text {
                font-size: 30px;
            }
            .description__title__text {
                display: none;
            }
            .description__button__consult {
                display: none;
            }
        }

        .instruction__block__description-mobile {
            display: block;
            text-align: center;
            .description__title__text {
                margin-top: 20px;
                font-size: 22px;
            }
            .description__button__consult {
                height: 40px;
                width: 310px;
                margin-top: 10px;
                font-size: 17px;
                line-height: 0;
            }
        }

        .instruction__cards__flex {
            display: block;
            .cards__card__block {
                width: 100%;
                max-width: 700px;
                height: auto;
                min-height: 126px;
                margin-left: 10px !important;
                margin-right: 15px !important;
                margin-bottom: 11px !important;
                padding: 26.5px 15.5px;
                .card__digit__number {
                    display: none;
                }
                
            }
            .cards__card__img {
                display: none;
            }
        }

        .crystall-left {
            display: none;
        }
    }

    #tariffs {
        width: 100%;
        .tariffs__text__title {
            font-size: 30px;
            margin-bottom: 21px;
        }
        
        .tariffs__grid__wrapper {
            display: flex;
            flex-direction: column;
            .tariffs__flex__wrapper {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .tariffs__block__tariff {
                    width: 355px;
                    height: 598px;
                    margin-bottom: 18px !important;
                    margin-left: 0 !important;
                }
            }

            .tariffs__img__wrapper {
                width: 100%;
            }
        }
    }
}