@media (max-width: 1025px) {
  .header__content a {
    font-size: 23px;
  }
  footer .footer__content .footer__menu a {
    font-size: 20px;
  }
  #instruction .description__button__consult {
    font-size: 27px;
  }
  #instruction .instruction__cards__flex .cards__card__block:nth-child(5) {
    margin-bottom: 35px;
  }
  #instruction .instruction__cards__flex .cards__card__img {
    position: absolute;
    top: 650px;
    left: 45%;
    margin-left: 0;
  }
  #about .about__button__desc {
    width: 140%;
  }
}
@media (max-width: 961px) {
  header, section, footer {
    margin: 0 10px;
  }
  button {
    padding: 20px 70px;
  }
  header {
    height: 60px;
  }
  header .header__content {
    position: relative;
    margin: 0;
  }
  header .header__content .header__logo {
    position: absolute;
    display: inline;
    left: 0;
    top: 16px;
    font-size: 18px;
  }
  header .header__content .header__menu {
    margin-top: 40px;
    margin-bottom: 0;
  }
  header .header__content .header__menu a {
    font-size: 17px;
    margin-left: 0;
    flex: 1 1 auto;
  }
  header button {
    display: none;
  }
  #hello {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
  }
  #hello .hello__start__block .start__title__text {
    font-size: 15px;
  }
  #hello .hello__start__block .start__desc__text {
    font-size: 30px;
  }
  #hello .hello__start__block .start__button {
    height: 40px;
    width: 185px;
    margin-top: 49px;
    font-size: 17px;
    line-height: 0;
  }
  #hello .hello__img__wrapper {
    margin-left: auto;
  }
  #hello .hello__img__wrapper img {
    width: 100%;
  }
  #solutions {
    margin-bottom: 50px;
  }
  #solutions .solutions__title__text {
    font-size: 30px;
  }
  #solutions .solutions__button__popup {
    display: none;
  }
  #solutions .solutions__slider__block {
    margin-bottom: 0;
  }
  #instruction {
    display: block;
    margin-bottom: 50px;
  }
  #instruction .instruction__block__description .description__desc__text {
    font-size: 30px;
  }
  #instruction .instruction__block__description .description__title__text {
    display: none;
  }
  #instruction .instruction__block__description .description__button__consult {
    display: none;
  }
  #instruction .instruction__block__description-mobile {
    display: block;
    text-align: center;
  }
  #instruction .instruction__block__description-mobile .description__title__text {
    margin-top: 20px;
    font-size: 22px;
  }
  #instruction .instruction__block__description-mobile .description__button__consult {
    height: 40px;
    width: 310px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 0;
  }
  #instruction .instruction__cards__flex {
    display: block;
  }
  #instruction .instruction__cards__flex .cards__card__block {
    width: 100%;
    max-width: 700px;
    height: auto;
    min-height: 126px;
    margin-left: 10px !important;
    margin-right: 15px !important;
    margin-bottom: 11px !important;
    padding: 26.5px 15.5px;
  }
  #instruction .instruction__cards__flex .cards__card__block .card__digit__number {
    display: none;
  }
  #instruction .instruction__cards__flex .cards__card__img {
    display: none;
  }
  #instruction .crystall-left {
    display: none;
  }
  #tariffs {
    width: 100%;
  }
  #tariffs .tariffs__text__title {
    font-size: 30px;
    margin-bottom: 21px;
  }
  #tariffs .tariffs__grid__wrapper {
    display: flex;
    flex-direction: column;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    width: 355px;
    height: 598px;
    margin-bottom: 18px !important;
    margin-left: 0 !important;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__img__wrapper img {
    width: 100%;
  }
  .about__button {
    display: none;
  }
  footer {
    display: none;
  }
}