@media (max-width: 2560px) {
  header {
    height: 100px;
  }
  header .header__content {
    font-size: 40px;
  }
  header .header__content .header__menu button {
    height: 60px;
    font-size: 40px;
  }
  #solutions .solutions__title__text {
    font-size: 60px;
  }
  #solutions .owl-carousel .carousel-item .slide__marker__img {
    width: 90px;
    height: 90px;
    font-size: 18px;
    font-weight: 400;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block {
    font-size: 26px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__title__text {
    font-size: 28px;
  }
  #solutions .owl-carousel .carousel-item .slide__info__block .info__button__wrapper .info__button {
    font-size: 30px;
    height: 40px;
  }
  #instruction .instruction__block__description .description__desc__block .description__title__text {
    font-size: 60px;
  }
  #instruction .instruction__block__description .description__desc__block .descrtiption__desc__text {
    font-size: 35px;
  }
  #instruction .instruction__cards__wrapper .cards__title__text {
    font-size: 70px;
  }
  #instruction .instruction__cards__wrapper .cards__flex__wrapper .cards__card__block .card__text__caps {
    font-size: 30px;
  }
  #instruction .instruction__cards__wrapper .instruction__consult__button {
    font-size: 40px;
  }
  #instruction .instruction__cards__wrapper .crystall-right {
    height: auto;
    width: auto;
  }
  #instruction .instruction__cards__wrapper .pig-left {
    width: 300px;
    height: 300px;
    bottom: -120px;
  }
  #tariffs .tariffs__text__title {
    font-size: 70px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    width: 420px;
    height: 650px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__title {
    font-size: 30px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__price {
    font-size: 70px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__desc {
    width: auto;
    height: 120px;
    font-size: 26px;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper .tariff__tag__item {
    font-size: 24px;
  }
  footer .footer__content .footer__logo {
    font-size: 42px;
  }
  footer .footer__content .footer__button__consult {
    font-size: 40px;
  }
  footer .footer__content a {
    font-size: 36px;
  }
}
@media (max-width: 1025px) {
  .header__content a {
    font-size: 23px;
  }
  footer .footer__content .footer__menu a {
    font-size: 20px;
  }
  #instruction .description__button__consult {
    font-size: 27px;
  }
  #instruction .instruction__cards__flex .cards__card__block:nth-child(5) {
    margin-bottom: 35px;
  }
  #instruction .instruction__cards__flex .cards__card__img {
    position: absolute;
    top: 650px;
    left: 45%;
    margin-left: 0;
  }
  #about .about__button__desc {
    width: 140%;
  }
}
@media (max-width: 961px) {
  header, section, footer {
    margin: 0 10px;
  }
  button {
    padding: 20px 70px;
  }
  header {
    height: 60px;
  }
  header .header__content {
    position: relative;
    margin: 0;
  }
  header .header__content .header__logo {
    position: absolute;
    display: inline;
    left: 0;
    top: 16px;
    font-size: 18px;
  }
  header .header__content .header__menu {
    margin-top: 40px;
    margin-bottom: 0;
  }
  header .header__content .header__menu a {
    font-size: 17px;
    margin-left: 0;
    flex: 1 1 auto;
  }
  header button {
    display: none;
  }
  #tariffs {
    width: 100%;
  }
  #tariffs .tariffs__text__title {
    font-size: 30px;
    margin-bottom: 21px;
  }
  #tariffs .tariffs__grid__wrapper {
    display: flex;
    flex-direction: column;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
    width: 355px;
    height: 598px;
    margin-bottom: 18px !important;
    margin-left: 0 !important;
  }
  #tariffs .tariffs__grid__wrapper .tariffs__img__wrapper img {
    width: 100%;
  }
  .about__button {
    display: none;
  }
  footer {
    display: none;
  }
}