
@media (min-width: 2503px) and (max-width: 2560px) {
    .owl-carousel {
        .carousel-item {
            .slide__info__block {
                .info__title__text {
                    font-size: 28px !important;
                }
            }
        }
    }
}

@media (min-width: 2000px) and (max-width: 2560px) {
    header {
        height: 100px;
        .header__content {
            font-size: 40px;
            .header__menu {
                button {
                    height: 60px;
                    font-size: 40px;
                }
            }
        }
    }

    #solutions {
        .solutions__title__text {
            font-size: 60px;
        }
        .owl-carousel {
            .carousel-item {
                .slide__marker__img {
                    width: 90px;
                    height: 90px;
                    font-size: 18px;
                    font-weight: 400;
                }
                
                .slide__info__block {
                    font-size: 24px;
                    .info__title__text {
                        font-size: 26px;
                    }
                    .info__button__wrapper {
                        .info__button {
                            font-size: 30px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    #instruction {
        .instruction__block__description {
            .description__desc__block {
                .description__title__text {
                    font-size: 60px;
                }
                .descrtiption__desc__text {
                    font-size: 35px;
                }
            }
        }

        .instruction__cards__wrapper {
            .cards__title__text {
                font-size: 70px;
            }
            .cards__flex__wrapper {
                .cards__card__block {
                    .card__text__caps {
                        font-size: 30px;
                    }
                }
            }
            .instruction__consult__button {
                font-size: 40px;
            }
            .crystall-right {
                height: auto;
                width: auto;
            }
            .pig-left {
                width: 300px;
                height: 300px;
                bottom: -120px;
            }
        }
    }

    #tariffs {
        .tariffs__text__title {
            font-size: 70px;
        }

        .tariffs__grid__wrapper {
            .tariffs__flex__wrapper {
                .tariffs__block__tariff {
                    width: 420px;
                    height: 650px;
                    .tariff__text__title {
                        font-size: 30px;
                    }
                    .tariff__text__price {
                        font-size: 70px;
                    }
                    .tariff__text__desc {
                        width: auto;
                        height: 120px;
                        font-size: 26px;
                    }
                    .tariff__tags__wrapper {
                        .tariff__tag__item {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer__content {
            .footer__logo {
                font-size: 42px;
            }
            .footer__button__consult {
                font-size: 40px;
            }
            a {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 2000px) {
    #solutions {
        .carousel-item {
            height: auto;
        }
    }
}

@media (max-width: 1350px) {
    #solutions {
        .solutions__title__text {
            font-size: 36px;
        }
    }

    #instruction {
        .instruction__cards__wrapper {
            .cards__flex__wrapper {
                .cards__card__block {
                    width: 120px;
                    .card__text__caps {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1270px) {
    .header__content {
        font-size: 24px;
    }

    #instruction {
        .instruction__cards__wrapper {
            .cards__flex__wrapper {
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 100px;
                .cards__card__block {
                    
                    width: 40%;
                    padding: 20px;
                    &:not(:nth-child(1), :nth-child(2)) {
                        margin-top: 20px;
                    }
                    &:nth-child(5) {
                        text-align: center;
                        width: 85%
                    }
                    .card__digit__number {
                        display: none;
                    }
                }
            }
            .pig-left {
                left: -80px;
            }
        }
    }

    #tariffs {
        margin-bottom: 50px;
        .tariffs__grid__wrapper {
            grid-template-columns: repeat(auto-fill, 100%);
            .tariffs__img__wrapper {
                width: 100%;
            }
        }
    }

    #about {
        .about__grid__tags {
            .grid__img__wrapper {
                img {
                    width: 80%;
                }
            }
        }
    }

    #questions {
        padding-bottom: 50px;
    }

    .footer__content {
        font-size: 24px;
        button {
            padding: 0 5px;
            font-size: 24px;
        }
    }
}

@media (max-width: 961px) {
    header {
        height: 100px;
        .header__content {
            flex-direction: column;
            .header__menu {
                justify-content: center;
            }
        }
    }

    #solutions {
        .owl-carousel {
            margin-bottom: 10px;
            .owl-item {
                height: 536px;
                .info__title__text {
                    font-size: 20px;
                }
            }
        }
    }

    #instruction {
        .instruction__block__description {
            .description__desc__block {
                .description__title__text {
                    margin-bottom: 30px;
                }
            }
        }
        .instruction__img__wrapper {
            width: 500px;
            position: absolute;
            top: 60px;
            right: -175px;
        }
        .crystall-right {
            display: none;
        }
    }

    #tariffs {
        margin: 0 23px;
        margin-bottom: 40px;
        .tariffs__text__title {
            font-size: 30px;
            margin-bottom: 21px;
        }
        
        .tariffs__grid__wrapper {
            display: flex;
            flex-direction: column;
            .tariffs__flex__wrapper {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .tariffs__block__tariff {
                    width: 355px;
                    height: 598px;
                    margin-bottom: 18px !important;
                    margin-left: 0 !important;
                }
            }
        }
    }
}