
@media (max-width: 2560px) {
}

@media (max-width: 1025px) {
    .header__content {
        a {
            font-size: 23px;
        }
    }
    footer {
        .footer__content {
            .footer__menu {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    #instruction {
        .description__button__consult {
            font-size: 27px;
        }
        .instruction__cards__flex {
            .cards__card__block {
        
                &:nth-child(5) {
                    margin-bottom: 35px;
                }
            }

            .cards__card__img {
                position: absolute;
                top: 650px;
                left: 45%;
                margin-left: 0;
            }
        }
    }

    #tariffs {
        .tariffs__img__wrapper {

        }
    }

    #about {
        .about__button__desc {
            width: 140%;
        }
    }
}

@media (max-width: 961px) {
    header, section, footer {
        margin: 0 10px;
    }
    
    button {
        padding: 20px 70px;
    }

    header {
        height: 60px;
        .header__content {
            position: relative;
            margin: 0;
            .header__logo {
                position: absolute;
                display: inline;
                left: 0;
                top: 16px;
                font-size: 18px;
            }
    
            .header__menu {
                margin-top: 40px;
                margin-bottom: 0;
                
                a {
                    font-size: 17px;
                    margin-left: 0;
                    flex: 1 1 auto;
                }
            }
        }

        button {
            display: none;
        }
    }

    #tariffs {
        width: 100%;
        .tariffs__text__title {
            font-size: 30px;
            margin-bottom: 21px;
        }
        
        .tariffs__grid__wrapper {
            display: flex;
            flex-direction: column;
            .tariffs__flex__wrapper {
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .tariffs__block__tariff {
                    width: 355px;
                    height: 598px;
                    margin-bottom: 18px !important;
                    margin-left: 0 !important;
                }
            }

            .tariffs__img__wrapper {
                img {
                    width: 100%;
                }
            }
        }
    }


    //will be remove
    .about__button {
        display: none;
    }
    footer {
        display: none;
    }
}