.modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}
.modal.show .modal__content {
  display: block;
}

.modal.show .modal__content {
  transform: translateY(0);
}

.modal__content {
  display: none;
  border: 3px solid #000000;
  min-width: 300px;
  max-width: 400px;
  padding: 0 25px;
  padding-top: 20px;
  padding-bottom: 34px;
  background-color: #DAD0F8;
  transform: translateY(-200px);
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
.modal__content.form-1 {
  max-width: 540px;
}

.modal__header .modal__title__text {
  font-size: 49px;
  margin-bottom: 20px;
}
.modal__header .modal__desc__text {
  font-size: 20px;
}
.modal__header .modal__response__text {
  font-size: 20px;
  color: #8647EA;
}

.modal__body {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.modal__body label {
  color: rgba(0, 0, 0, 0.6980392157);
}
.modal__body .input__wrapper {
  position: relative;
}
.modal__body .input__wrapper.slider {
  margin-top: 9px;
}
.modal__body .input__wrapper:not(:last-child) {
  margin-bottom: 20px;
}
.modal__body .input__wrapper label {
  cursor: text;
  position: absolute;
  top: 5px;
  color: rgba(0, 0, 0, 0.6980392157);
  transition: all 0.3s ease-in-out;
  pointer-events: visible;
}
.modal__body .input__wrapper label.hide {
  transform: translateY(-19px);
}
.modal__body .input__wrapper input {
  font-size: 15px;
  border: none;
  background-color: inherit;
  width: 95%;
  padding: 7.5px;
  padding-left: 0;
  border-bottom: 1px solid #000000;
}
.modal__body .input__wrapper input:active, .modal__body .input__wrapper input:focus {
  outline: 0;
}
.modal__body .input__wrapper input[type=number]::-webkit-outer-spin-button,
.modal__body .input__wrapper input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.modal__body .checkboxes__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 13px;
  margin-bottom: 20px;
}
.modal__body .checkboxes__wrapper .checkbox__item {
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6980392157);
}
.modal__body .checkboxes__wrapper .checkbox__item p {
  margin-left: 7px;
}
.modal__body .checkboxes__wrapper .checkbox__item input {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background: inherit;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid black;
  border-radius: 4px;
}
.modal__body .checkboxes__wrapper .checkbox__item input:checked {
  outline: 6px solid black;
  outline-offset: -15px;
}

.modal__footer {
  margin-top: 60px;
}
.modal__footer .modal__btn__wrapper button {
  padding: 0px 40px 0px 40px;
  height: 55px;
  font-size: 20px;
}
.modal__footer img {
  position: absolute;
  bottom: -130px;
  right: -100px;
}