body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1000;
}

button {
    border: none;
    border-radius: 10px;
    height: 75px;
    cursor: pointer;
}

section {
    margin: 0 120px;
}

.header__content {
    display: flex;
    margin: 0 120px;
    vertical-align: middle;
    text-align: center;
    
    .header__logo {
        height: 65px;
        margin: 35px 0;
        h2 {
            margin-top: 17.5px;
        }
    }

    .header__menu {
        width: 100%;
        height: 65px;
        margin: 35px 0;
        margin-left: 120px;

        a {
            margin-left: 40px;
        }

        button {
            margin-left: 75px;
            height: 65px;
            padding: 5px 20px;
        }
    }
}

#hello {
    display: grid;
    margin-top: 210px;
    margin-bottom: 100px;
    grid-template-columns: 50% 50%;
    padding: 0;

    .hello__start__block {
        .start__button {
            margin-top: 75px;
            width: 220px;
        }
    }

    .hello__img__wrapper {
        justify-self: right;
        img {
            width: 100%;
        }
    }
}

#solutions {
    margin-bottom: 150px;

    .solutions__title__text {
        margin-bottom: 40px;
    }

    .solutions__slider__block {
        margin-bottom: 35px;
    }

    .solutions__button__popup {
        padding: 10px 70px;
    }
}

#instruction {
    display: grid;
    position: relative;
    grid-template-columns: 40% 60%;
    margin-bottom: 80px;
    
    .crystall-left {
        position: absolute;
        left: -165px;
        bottom: -90px;
    }

    .instruction__block__description {

        .description__desc__text {
            margin-bottom: 60px;
        }

        .description__title__text {
            margin-bottom: 140px;
        }
        
        .description__button__consult {
            padding: 10px 70px;
        }
    }

    .instruction__cards__flex {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-self: right;
        width: 742px;

        .cards__card__block {
            position: relative;
            width: 33%;
            height: 240px;
            max-width: 191px;
            padding: 0 18.5px;
            padding-top: 46px;
            border-radius: 10px;
            box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);

            img {
                width: 100%;
            }
            
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 35px;
            }
            &:nth-child(2), &:nth-child(5), &:nth-child(6) {
                margin-left: 20px;
            }

            .card__digit__number {
                position: absolute;
                top: -67px;
                left: -40px;
            }
        }
    }
}

#tariffs {

    .tariffs__text__title {
        margin-bottom: 98px;
    }

    
    .tariffs__grid__wrapper {
        display: grid;
        grid-template-columns: 60% 40%;

        .tariffs__flex__wrapper {
            display: flex;

            .tariffs__block__tariff {
                position: relative;
                width: 360px;
                height: 600px;
                border-radius: 10px;
                margin-bottom: 42px;
                padding-left: 35px;
                padding-right: 33px;
                padding-top: 31px;
                padding-bottom: 39px;
                z-index: 10;

                &:nth-child(2) {
                    margin-left: 43px;
                }

                .tariff__text__title {
                    margin-bottom: 14px;
                }

                .tariff__text__price {
                    margin-bottom: 20px;
                }

                .tariff__text__desc {
                    width: 291px;
                    height: 72px;
                    margin-bottom: 25px;
                }

                hr {
                    width: 290px;
                    margin-bottom: 15px;
                }

                .tariff__hr__help {
                    margin-bottom: 10px;
                }

                button {
                    position: absolute;
                    bottom: 40px;
                    left: 15%;
                    width: 292px;
                    height: 55px;
                }

                .tariff__tags__wrapper {
                    margin-bottom: 20px;

                    .tariff__tag__item {
                        img {
                            margin-right: 8px;
                        }
                    }


                    .tariff__solo {
                        margin-bottom: 20px;
                    }
            
                    .tariff__help {
                        margin-bottom: 11px;
                    }
                }
            }
        }

        .tariffs__img__wrapper {
            justify-self: right;
        }
    }
}

#about {
    margin: 0;
    padding: 0 120px;

    .about__text__title {
        width: 965px;
        padding-top: 65px;
        padding-bottom: 20px;
    }

    .about__grid__description {
        display: grid;
        grid-template-columns: 60% 40%;
        margin-bottom: 27px;

        .about__text__description {
            margin-top: 50px;

            &.fix-width {
                max-width: 680px;
            }
        }

        .grid__img__wrapper {
            justify-self: right;
            img {
                width: 100%;
            }
        }
    }
    
    .about__grid__tags {
        display: grid;
        grid-template-columns: 40% 60%;

        .about__tags__list {
            margin-bottom: 47px;

            li {
                position: relative;
                margin-left: 30px;
                margin-bottom: 35px;
                max-width: 530px;

                img {
                    position: absolute;
                    left: -30px;
                    top: 45%;
                }
            }
        }

        .about__button__desc {
            margin-bottom: 102px;
        }
        .about__button {
            width: 505px;
            margin-bottom: 48px;
        }
    }
}

#questions {
    text-align: center;
    padding-top: 82px;
    padding-bottom: 122px;

    .questions__text__title {
        margin-bottom: 122px;
    }

    .aq__block__wrapper {
        text-align: left;

        .question__text__title {
            margin-bottom: 32px;
        }

        .answer__text__title {
            margin-top: 45.5px;
            margin-bottom: 89px;
        }

        .hide {
            display: none;
        }
    }

    hr {
        margin-bottom: 32px;
    }
}

footer {
    padding: 51px 120px 62px 105px;
    .footer__content {
        display: flex;
        justify-content: center;
        
        .footer__logo {
            margin-top: 25.5px;
        }
        
        .footer__button__consult {
            margin-left: 40px;
            margin-right: 51px;
        }
        
        .footer__menu {
            margin-top: 25.5px;
            a {
                &:nth-child(2), &:nth-child(3) {
                    margin-left: 48px;
                }
            }
        }
    }
}