body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;
}

button {
  border: none;
  border-radius: 10px;
  height: 75px;
  cursor: pointer;
}

section {
  margin: 0 120px;
}

.header__content {
  display: flex;
  margin: 0 120px;
  vertical-align: middle;
  text-align: center;
}
.header__content .header__logo {
  height: 65px;
  margin: 35px 0;
}
.header__content .header__logo h2 {
  margin-top: 17.5px;
}
.header__content .header__menu {
  width: 100%;
  height: 65px;
  margin: 35px 0;
  margin-left: 120px;
}
.header__content .header__menu a {
  margin-left: 40px;
}
.header__content .header__menu button {
  margin-left: 75px;
  height: 65px;
  padding: 5px 20px;
}

#hello {
  display: grid;
  margin: 210px 100px 120px 120px;
  grid-template-columns: 50% 50%;
}
#hello .hello__start__block .start__button {
  margin-top: 75px;
  width: 220px;
}

#solutions {
  margin-bottom: 150px;
}
#solutions .solutions__title__text {
  margin-bottom: 40px;
}
#solutions .solutions__slider__block {
  margin-bottom: 35px;
}
#solutions .solutions__button__popup {
  padding: 10px 70px;
}

#instruction {
  display: grid;
  position: relative;
  grid-template-columns: 40% 60%;
  margin-bottom: 80px;
}
#instruction .crystall-left {
  position: absolute;
  left: -165px;
  bottom: -90px;
}
#instruction .instruction__block__description .description__desc__text {
  margin-bottom: 60px;
}
#instruction .instruction__block__description .description__title__text {
  margin-bottom: 140px;
}
#instruction .instruction__block__description .description__button__consult {
  padding: 10px 70px;
}
#instruction .instruction__cards__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 742px;
}
#instruction .instruction__cards__flex .cards__card__block {
  position: relative;
  width: 33%;
  height: 240px;
  max-width: 191px;
  padding: 0 18.5px;
  padding-top: 46px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}
#instruction .instruction__cards__flex .cards__card__block:nth-child(1), #instruction .instruction__cards__flex .cards__card__block:nth-child(2) {
  margin-bottom: 35px;
}
#instruction .instruction__cards__flex .cards__card__block:nth-child(2), #instruction .instruction__cards__flex .cards__card__block:nth-child(5), #instruction .instruction__cards__flex .cards__card__block:nth-child(6) {
  margin-left: 20px;
}
#instruction .instruction__cards__flex .cards__card__block .card__digit__number {
  position: absolute;
  top: -67px;
  left: -40px;
}

#tariffs .tariffs__text__title {
  margin-bottom: 98px;
}
#tariffs .tariffs__grid__wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper {
  display: flex;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff {
  position: relative;
  width: 360px;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 42px;
  padding-left: 35px;
  padding-right: 33px;
  padding-top: 31px;
  padding-bottom: 39px;
  z-index: 10;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff:nth-child(2) {
  margin-left: 43px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__title {
  margin-bottom: 14px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__price {
  margin-bottom: 20px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__text__desc {
  width: 291px;
  height: 72px;
  margin-bottom: 25px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff hr {
  width: 290px;
  margin-bottom: 15px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__hr__help {
  margin-bottom: 10px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff button {
  position: absolute;
  bottom: 40px;
  left: 15%;
  width: 292px;
  height: 55px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper {
  margin-bottom: 20px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper .tariff__tag__item img {
  margin-right: 8px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper .tariff__solo {
  margin-bottom: 20px;
}
#tariffs .tariffs__grid__wrapper .tariffs__flex__wrapper .tariffs__block__tariff .tariff__tags__wrapper .tariff__help {
  margin-bottom: 11px;
}

#about {
  margin: 0;
  padding: 0 120px;
}
#about .about__text__title {
  width: 965px;
  padding-top: 65px;
  padding-bottom: 20px;
}
#about .about__grid__description {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 27px;
}
#about .about__grid__description .about__text__description {
  margin-top: 50px;
}
#about .about__grid__description .about__text__description.fix-width {
  max-width: 680px;
}
#about .about__grid__description .grid__img__wrapper {
  margin-left: 50%;
}
#about .about__grid__tags {
  display: grid;
  grid-template-columns: 40% 60%;
}
#about .about__grid__tags .about__tags__list {
  margin-bottom: 47px;
}
#about .about__grid__tags .about__tags__list li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 35px;
  max-width: 530px;
}
#about .about__grid__tags .about__tags__list li img {
  position: absolute;
  left: -30px;
  top: 45%;
}
#about .about__grid__tags .about__button__desc {
  margin-bottom: 102px;
}
#about .about__grid__tags .about__button {
  width: 505px;
  margin-bottom: 48px;
}