body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
}

button {
  border: none;
  border-radius: 10px;
  height: 75px;
}

section {
  margin: 0 120px;
}

.header__content {
  display: flex;
  margin: 0 120px;
  vertical-align: middle;
  text-align: center;
}
.header__content .header__logo {
  height: 65px;
  margin: 35px 0;
}
.header__content .header__logo h2 {
  margin-top: 17.5px;
}
.header__content .header__menu {
  width: 100%;
  height: 65px;
  margin: 35px 0;
  margin-left: 120px;
}
.header__content .header__menu a {
  margin-left: 40px;
}
.header__content .header__menu button {
  margin-left: 75px;
  height: 65px;
  padding: 5px 20px;
}

#hello {
  display: grid;
  margin: 210px 100px 120px 120px;
  grid-template-columns: 50% 50%;
}
#hello .hello__start__block .start__button {
  margin-top: 75px;
  width: 220px;
}

#solutions {
  margin-bottom: 150px;
}
#solutions .solutions__title__text {
  margin-bottom: 40px;
}
#solutions .solutions__slider__block {
  margin-bottom: 35px;
}
#solutions .solutions__button__popup {
  padding: 10px 70px;
}

#instruction {
  display: grid;
  grid-template-columns: 40% 60%;
}
#instruction .instruction__block__description .description__desc__text {
  margin-bottom: 60px;
}
#instruction .instruction__block__description .description__title__text {
  margin-bottom: 140px;
}
#instruction .instruction__block__description .description__button__consult {
  padding: 10px 70px;
}
#instruction .instruction__cards__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#instruction .instruction__cards__flex .cards__card__block {
  width: 33%;
  min-height: 240px;
  margin: 20px 35px;
  padding: 0 18.5px;
  padding-top: 46px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}