$accent: #8647EA;
$background: #EFF2FC;
$background_2: #E1DEDE;
$tariffs_bg: #303030;

@font-face {
    font-family: 'Gosha Sans';
    src: local('Gosha Sans'),
        url('../fonts/PPGoshaSans/PPGoshaSans-Regular.otf');
}

@font-face {
    font-family: 'Gosha Sans bold';
    src: local('Gosha Sans bold'),
        url('../fonts/PPGoshaSans/PPGoshaSans-Bold.otf');
}

@font-face {
    font-family: 'Rubik Mono One';
    src: local('Rubik Mono One'),
        url('../fonts//RubikMonoOne-Regular.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf');
}

header {
    background: $background;
}

body {
    background: $background;
}

h1, h2, button, a, li {
    font-family: 'Gosha Sans';
}

button {
    background: $accent;
    color: white;
    font-size: 30px;
}

.logo {
    font-family: 'Russo One';
    font-weight: 700;
    h2 {
        font-family: 'Russo One';
    }
}

.red-logo {
    color: #D0251A;
}

a {
    text-decoration: none;
    color: #000000;

    &:hover {
        border-bottom: 1px solid $accent;
    }
}

.header__content {
    font-size: 30px;
}

.accent-text {
    color: $accent;
}

#hello {

    .hello__start__block {
        
        .start__title__text {
            font-size: 25px;
        }

        .start__desc__text {
            font-family: 'Gosha Sans bold';
            font-size: 50px;
        }
    }
}

#solutions {
    .solutions__title__text {
        font-family: 'Gosha Sans bold';
        font-size: 50px;
    }
}

#instruction {

    .instruction__block__description {

        .description__desc__text {
            font-family: 'Gosha Sans bold';
            font-size: 50px;
        }

        .description__title__text {
            font-size: 50px;
        }
    }

    .instruction__cards__flex {
        
        .cards__card__block {
            background: #8647EA33;

            .card__digit__number {
                font-family: 'Rubik Mono One';
                font-size: 110px;

                background: linear-gradient(150.98deg, rgba(134, 71, 234, 0.5) 14.97%, rgba(109, 220, 255, 0.5) 82.61%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            .card__text__caps {
                font-size: 24px;
                text-transform: uppercase;
            }
        }
    }
}

#tariffs {
    
    .tariffs__text__title {
        font-size: 50px;
        font-weight: 700;
    }
    
    .tariffs__block__tariff {
        background: $tariffs_bg;
        color: white;
        font-family: 'IBM Plex Sans';

        .tariff__text__title {
            font-size: 18px;
        }

        .tariff__text__price {
            font-size: 60px;
        }

        .tariff__text__desc {
            color: #A1A1AA;
        }

        hr {
            border-color: #27272A;
        }

        .tariff__tag__item {
            font-size: 16px;
            font-weight: 500;
        }

        button {
            font-size: 16px;
            font-family: 'IBM Plex Sans';
        }


        .tariff__button__solo {
            position: relative;
            background: #303030;
        }

        .tariff__button__solo::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 5px; 
            padding: 1px; 
            background:linear-gradient(45deg, #6DDCFF,#7F60F9); 
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }

        .tariff__button__help {
            position: relative;
            background: linear-gradient(#8647EA, #A99ED6);
            border-radius: 5px;
        }

        .tariff__button__help::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 5px; 
            padding: 1px; 
            background:linear-gradient(45deg, #6DDCFF, #A99ED6); 
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }
    }
}

#about {
    background: $background_2;

    .about__text__title {
        font-family: 'Gosha Sans bold';
        font-weight: 700;
        font-size: 50px;
    }

    .about__grid__description {
        font-size: 36px;
    }

    .about__grid__tags {
        font-size: 36px;
    }
}

#questions {

    .questions__text__title {
        font-family: 'Gosha Sans bold';
        font-size: 50px;
        font-weight: 700;
    }

    .aq__block__wrapper {
        font-size: 35px;
    }
}

footer {
    background-color: $background_2;

    .footer__content {
        .footer__logo {
            font-family: 'Russo One';
            font-size: 32px;
        }

        a {
            font-size: 26px;
        }
    }
}