@font-face {
  font-family: "Gosha Sans";
  src: local("Gosha Sans"), url("../fonts/PPGoshaSans/PPGoshaSans-Regular.otf");
}
@font-face {
  font-family: "Gosha Sans bold";
  src: local("Gosha Sans bold"), url("../fonts/PPGoshaSans/PPGoshaSans-Bold.otf");
}
h1, h2, button, a {
  font-family: "Gosha Sans";
}

button {
  background: #8647EA;
  color: white;
  font-size: 30px;
}

.header__content {
  font-size: 30px;
}
.header__content .header__logo {
  font-weight: 700;
}
.header__content .header__menu a {
  text-decoration: none;
  color: #000000;
}
.header__content .header__menu a:hover {
  border-bottom: 1px solid #8647EA;
}

.accent-text {
  color: #8647EA;
}

#hello .hello__start__block .start__title__text {
  font-size: 25px;
}
#hello .hello__start__block .start__desc__text {
  font-family: "Gosha Sans bold";
  font-size: 50px;
}

#solutions .solutions__title__text {
  font-family: "Gosha Sans bold";
  font-size: 50px;
}

#instruction .instruction__block__description .description__desc__text {
  font-family: "Gosha Sans bold";
  font-size: 50px;
}
#instruction .instruction__block__description .description__title__text {
  font-size: 50px;
}
#instruction .instruction__cards__flex .cards__card__block {
  background: rgba(134, 71, 234, 0.2);
}
#instruction .instruction__cards__flex .cards__card__block .card__text__caps {
  font-size: 24px;
  text-transform: uppercase;
}