$accent: #8647EA;
$background: #EFF2FC;
$background_2: #E1DEDE;
$black_bg: #303030;

@font-face {
    font-family: 'Gosha Sans';
    src: local('Gosha Sans'),
        url('../fonts/PPGoshaSans/PPGoshaSans-Regular.otf');
}

@font-face {
    font-family: 'Gosha Sans bold';
    src: local('Gosha Sans bold'),
        url('../fonts/PPGoshaSans/PPGoshaSans-Bold.otf');
}

@font-face {
    font-family: 'Rubik Mono One';
    src: local('Rubik Mono One'),
        url('../fonts//RubikMonoOne-Regular.ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf');
}

header {
    background: $background_2;
}

body {
    background: $background;
}

h1, h2, button, a, li, label, p {
    font-family: 'Gosha Sans';
}

button {
    background: $accent;
    color: white;
    font-size: 30px;
}

.logo {
    font-family: 'Russo One';
    font-weight: 700;
    h2 {
        font-family: 'Russo One';
    }
}

a {
    text-decoration: none;
    color: #000000;

    &:hover {
        border-bottom: 1px solid $accent;
    }
}

.header__content {
    font-size: 30px;
    button {
        font-size: 26px;
    }
}

.accent-text {
    color: $accent;
}

#solutions {
    background: $background_2;
    .solutions__title__text {
        font-family: 'Gosha Sans bold';
        font-size: 40px;
    }

    .carousel-item {
        color: white;
        background: $black_bg;
        .slide__marker__img {
            background: $accent;
            font-weight: 900;
            font-size: 10px;
            font-family: 'Gosha Sans';
        }
        .slide__info__block {
            font-size: 18px;
            .info__title__text {
                font-size: 23px;
            }
            .info__gray__text {
                color: #FFFFFFB2;
            }
            .info__button__wrapper {
                .info__button {
                    font-size: 20px;
                }
            }
        }
    }

    .owl-dots {
        text-align: center;
        margin-top: 17px;
        margin-bottom: 24px;
    }
    
    .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #8647EA99;
        
        &:not(:nth-child(1)) {
            margin-left: 10px;
        }
    }
    
    .owl-carousel button.owl-dot.active {
        background: $accent;
    }
}

#instruction {

    .instruction__block__description {
        font-size: 49px;

        .description__title__text {
            font-size: 50px;
            font-weight: 700;
        }

        .descrtiption__desc__text {
            font-size: 32px;
            color: #000000B2;
        }
    }

    .instruction__cards__wrapper {
        text-align: center;
        .cards__title__text {
            font-size: 50px;
            font-weight: 700;
        }

        .cards__card__block {
            background: #8647EA33;

            .card__digit__number {
                font-family: 'Rubik Mono One';
                font-size: 110px;

                background: linear-gradient(150.98deg, rgba(134, 71, 234, 0.5) 14.97%, rgba(109, 220, 255, 0.5) 82.61%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            .card__text__caps {
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
}

#tariffs {
    
    .tariffs__text__title {
        font-size: 50px;
        font-weight: 700;
    }
    
    .tariffs__block__tariff {
        background: $black_bg;
        color: white;
        font-family: 'IBM Plex Sans';
        p {
            font-family: 'IBM Plex Sans';
        }

        .tariff__text__title {
            font-size: 18px;
        }

        .tariff__text__price {
            font-size: 60px;
        }

        .tariff__text__desc {
            color: #A1A1AA;
        }

        hr {
            border-color: #27272A;
        }

        .tariff__tag__item {
            font-size: 16px;
            font-weight: 500;
        }

        button {
            font-size: 16px;
            font-family: 'IBM Plex Sans';
        }


        .tariff__button__solo {
            position: relative;
            background: #303030;
        }

        .tariff__button__solo::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 5px; 
            padding: 1px; 
            background:linear-gradient(45deg, #6DDCFF,#7F60F9); 
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }

        .tariff__button__help {
            position: relative;
            background: linear-gradient(#8647EA, #A99ED6);
            border-radius: 5px;
        }

        .tariff__button__help::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 5px; 
            padding: 1px; 
            background:linear-gradient(45deg, #6DDCFF, #A99ED6); 
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
        }
    }
}

#about {
    background: $background_2;

    .about__text__title {
        font-family: 'Gosha Sans bold';
        font-weight: 700;
        font-size: 50px;
    }

    .about__grid__description {
        font-size: 30px;
    }

    .about__grid__tags {
        font-size: 20px;
        .about__button__desc {
            font-size: 30px;
        }
    }
}

#questions {

    .questions__text__title {
        font-family: 'Gosha Sans bold';
        font-size: 50px;
        font-weight: 700;
    }

    .aq__block__wrapper {
        font-size: 35px;
    }
}

footer {
    background-color: $background_2;
    font-size: 30px;

    .footer__content {
        .footer__logo {
            font-family: 'Russo One';
        }
    }
}