@font-face {
  font-family: "Gosha Sans";
  src: local("Gosha Sans"), url("../fonts/PPGoshaSans/PPGoshaSans-Regular.otf");
}
@font-face {
  font-family: "Gosha Sans bold";
  src: local("Gosha Sans bold"), url("../fonts/PPGoshaSans/PPGoshaSans-Bold.otf");
}
@font-face {
  font-family: "Rubik Mono One";
  src: local("Rubik Mono One"), url("../fonts//RubikMonoOne-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "Russo One";
  src: url("../fonts/RussoOne-Regular.ttf");
}
header {
  background: #E1DEDE;
}

body {
  background: #EFF2FC;
}

h1, h2, button, a, li {
  font-family: "Gosha Sans";
}

button {
  background: #8647EA;
  color: white;
  font-size: 30px;
}

.logo {
  font-family: "Russo One";
  font-weight: 700;
}
.logo h2 {
  font-family: "Russo One";
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  border-bottom: 1px solid #8647EA;
}

.header__content {
  font-size: 30px;
}

.accent-text {
  color: #8647EA;
}

#solutions {
  background: #E1DEDE;
}
#solutions .solutions__title__text {
  font-family: "Gosha Sans bold";
  font-size: 40px;
}
#solutions .carousel-item {
  color: white;
  background: #303030;
}
#solutions .carousel-item .slide__marker__img {
  background: #8647EA;
  font-weight: 900;
  font-size: 10px;
  font-family: "Gosha Sans";
}
#solutions .carousel-item .slide__info__block {
  font-size: 18px;
}
#solutions .carousel-item .slide__info__block .info__title__text {
  font-size: 23px;
}
#solutions .carousel-item .slide__info__block .info__gray__text {
  color: rgba(255, 255, 255, 0.6980392157);
}
#solutions .carousel-item .slide__info__block .info__button__wrapper .info__button {
  font-size: 20px;
}

#instruction .instruction__block__description {
  font-size: 49px;
}
#instruction .instruction__block__description .description__title__text {
  font-size: 50px;
  font-weight: 700;
}
#instruction .instruction__block__description .descrtiption__desc__text {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6980392157);
}
#instruction .instruction__cards__wrapper {
  text-align: center;
}
#instruction .instruction__cards__wrapper .cards__title__text {
  font-size: 50px;
  font-weight: 700;
}
#instruction .instruction__cards__wrapper .cards__card__block {
  background: rgba(134, 71, 234, 0.2);
}
#instruction .instruction__cards__wrapper .cards__card__block .card__digit__number {
  font-family: "Rubik Mono One";
  font-size: 110px;
  background: linear-gradient(150.98deg, rgba(134, 71, 234, 0.5) 14.97%, rgba(109, 220, 255, 0.5) 82.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#instruction .instruction__cards__wrapper .cards__card__block .card__text__caps {
  font-size: 20px;
  text-transform: uppercase;
}

#tariffs .tariffs__text__title {
  font-size: 50px;
  font-weight: 700;
}
#tariffs .tariffs__block__tariff {
  background: #303030;
  color: white;
  font-family: "IBM Plex Sans";
}
#tariffs .tariffs__block__tariff .tariff__text__title {
  font-size: 18px;
}
#tariffs .tariffs__block__tariff .tariff__text__price {
  font-size: 60px;
}
#tariffs .tariffs__block__tariff .tariff__text__desc {
  color: #A1A1AA;
}
#tariffs .tariffs__block__tariff hr {
  border-color: #27272A;
}
#tariffs .tariffs__block__tariff .tariff__tag__item {
  font-size: 16px;
  font-weight: 500;
}
#tariffs .tariffs__block__tariff button {
  font-size: 16px;
  font-family: "IBM Plex Sans";
}
#tariffs .tariffs__block__tariff .tariff__button__solo {
  position: relative;
  background: #303030;
}
#tariffs .tariffs__block__tariff .tariff__button__solo::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(45deg, #6DDCFF, #7F60F9);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#tariffs .tariffs__block__tariff .tariff__button__help {
  position: relative;
  background: linear-gradient(#8647EA, #A99ED6);
  border-radius: 5px;
}
#tariffs .tariffs__block__tariff .tariff__button__help::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(45deg, #6DDCFF, #A99ED6);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#about {
  background: #E1DEDE;
}
#about .about__text__title {
  font-family: "Gosha Sans bold";
  font-weight: 700;
  font-size: 50px;
}
#about .about__grid__description {
  font-size: 36px;
}
#about .about__grid__tags {
  font-size: 36px;
}

#questions .questions__text__title {
  font-family: "Gosha Sans bold";
  font-size: 50px;
  font-weight: 700;
}
#questions .aq__block__wrapper {
  font-size: 35px;
}

footer {
  background-color: #E1DEDE;
}
footer .footer__content .footer__logo {
  font-family: "Russo One";
  font-size: 32px;
}
footer .footer__content a {
  font-size: 26px;
}